$absolute: absolute;
$auto: auto;
$background: url('../img/splash.jpg');
$black: black;
$block: block;
$blue: #0e98cc;
$bold: bold;
$box-shadow: 0 4px 8px 0 rgba(0,
0,
0,
0.2),
0 6px 20px 0 rgba(0,
0,
0,
0.19);
$center: center;
$cover: cover;
$col: column;
$fixed: fixed;
$flex: flex;
$grey: #aaaaaa;
$hidden: hidden;
$inline-block: inline-block;
$italic: italic;
$justify: justify;
$left: left;
$right: right;
$right-center: right center;
$light-grey: #eae8e8;
$linier-gradient-blue-left: linear-gradient(to left,
#061da0 0%,
#1130dd 51%,
#2141f3 100%);
$middle: middle;
$none: none;
$normal: normal;
$norepeat: no-repeat;
$opacity: 0.5;
$percent-0: 0%;
$percent-0-1: 0.1%;
$percent-0-2: 0.2%;
$percent-1: 1%;
$percent-2: 2%;
$percent-2-5: 2.5%;
$percent-3: 3%;
$percent-4: 4%;
$percent-5: 5%;
$percent-7: 7%;
$percent-8: 8;
$percent-10: 10%;
$percent-12: 12%;
$percent-13: 13%;
$percent-15: 15%;
$percent-20: 20%;
$percent-23: 23%;
$percent-25: 25%;
$percent-28: 28%;
$percent-27: 27%;
$percent-30: 30%;
$percent-35: 35%;
$percent-40: 40%;
$percent-50: 50%;
$percent-55: 55%;
$percent-60: 60%;
$percent-65: 65%;
$percent-70: 70%;
$percent-75: 75%;
$percent-80: 80%;
$percent-82: 82%;
$percent-85: 85%;
$percent-90: 90%;
$percent-91-5: 91.5%;
$percent-92: 92%;
$percent-93: 93%;
$percent-93-5: 93.5%;
$percent-94: 94%;
$percent-94-5: 94.5%;
$percent-95: 95%;
$percent-95-5: 95.5%;
$percent-95-7: 95.7%;
$percent-96: 96%;
$percent-97: 97%;
$percent-97-3: 97.3%;
$percent-98: 98%;
$percent-100: 100%;
$percent-105: 105%;
$percent-110: 110%;
$percent-115: 115%;
$percent-120: 120%;
$percent-130: 130%;
$percent-135: 135%;
$percent-140: 140%;
$pointer: pointer;
$red: #D11418;
$relative: relative;
$size-minus-5: -5;
$size-minus-8: -8;
$size-minus-10: -10;
$size-0: 0px;
$size-1: 1px;
$size-2: 2px;
$size-3: 3px;
$size-5: 5px;
$size-7: 7px;
$size-8: 8px;
$size-10: 10px;
$size-11: 11px;
$size-12: 12px;
$size-13: 13px;
$size-14: 14px;
$size-15: 15px;
$size-16: 16px;
$size-17: 17px;
$size-18: 18px;
$size-20: 20px;
$size-23: 23px;
$size-24: 24px;
$size-25: 25px;
$size-27: 27px;
$size-30: 30px;
$size-35: 35px;
$size-40: 40px;
$size-42: 42px;
$size-50: 50px;
$size-55: 55px;
$size-60: 60px;
$size-70: 70px;
$size-80: 80px;
$size-90: 90px;
$size-100: 100px;
$size-110: 110px;
$size-120: 120px;
$size-130: 130px;
$size-140: 140px;
$size-145: 145px;
$size-150: 150px;
$size-155: 155px;
$size-160: 160px;
$size-165: 165px;
$size-170: 170px;
$size-175: 175px;
$size-180: 180px;
$size-185: 185px;
$size-190: 190px;
$size-195: 195px;
$size-200: 200px;
$size-205: 205px;
$size-210: 210px;
$size-220: 220px;
$size-225: 225px;
$size-240: 240px;
$size-250: 250px;
$size-260: 260px;
$size-270: 270px;
$size-300: 300px;
$size-320: 320px;
$size-340: 340px;
$size-350: 350px;
$size-360: 360px;
$size-370: 370px;
$size-500: 500px;
$size-no-0: 0;
$size-no-1: 1;
$size-no-10: 10;
$size-no-100: 100;
$size-no-1040: 1040;
$size-em-0-25: 0.25em;
$size-em-100: 100em;
$size-mm-7: 7mm;
$solid: solid;
$transparent: transparent;
$white: #ffffff;
$wrap: wrap;
$yellow: #ffcc00;
