<div class="list" ng-hide="dateShowisDefault">
  <div class="item-costum">
    <div class="row">
      <div class="col-10" style="background-color: green;color: white;padding: 3px"></div>
      <div class="col-90" style="padding: 3px">&nbsp;: Kuota Tersedia</div>
    </div>
  </div>
  <div class="item-costum">
    <div class="row">
      <div class="col-10" style="background-color: #d9bd02;color: white;padding: 3px"></div>
      <div class="col-90" style="padding: 3px">&nbsp;: Kuota Belum Dibuka</div>
    </div>
  </div>
  <div class="item-costum">
    <div class="row">
      <div class="col-10" style="background-color: red;color: white;padding: 3px"></div>
      <div class="col-90" style="padding: 3px">&nbsp;: Kuota Habis</div>
    </div>
  </div>
  <div class="item-costum">
    <div class="row">
      <div class="col-10" style="background-color: #0397ff;color: white;padding: 3px"></div>
      <div class="col-90" style="padding: 3px">&nbsp;: Tanggal Terpilih</div>
    </div>
  </div>
  <div class="item-costum">
    <div class="row">
      <div class="col-10" style="background-color: gray;color: white;padding: 3px"></div>
      <div class="col-90" style="padding: 3px">&nbsp;: Hari Libur</div>
    </div>
  </div>

</div>
