<ion-view view-title="KRITIK & SARAN">
  <!-- Header -->
  <div class="bar bar-header">
    <button class="button button-icon icon ion-ios-arrow-back" style="color:azure" ng-click="kembali()"></button>
    <div class="h1 title" style="color:azure">PANDUAN</div>
  </div>
  <!-- End Header -->

  <ion-content scroll="true" style="padding-top:10px;">
    <div class="panduan-align">
      <div class="bg-header-panduan">
        <div class="form-container">
          <div class="margin-costum-guide">
            PANDUAN
            <br> MENGGUNAKAN APLIKASI LAYANAN WNI
          </div>
          <div class="row nopadding">
            <button class="card col button-menu animated slideInUp" style="align-items: center;" ng-click="PanduanPembuatanBaru()">
              <i class="im im-icon-Open-Book"></i>
              <div style="font-size:18px">Pembuatan
                <br>Paspor Baru</div>
            </button>
            <button class="card col button-menu animated slideInUp" style="align-items: center;" ng-click="PanduanPerpanjangan()">
              <i class="im im-icon-Open-Book"></i>
              <div style="font-size:18px">Perpanjangan
                <br>Paspor</div>
            </button>
          </div>
        </div>
  </ion-content>
</ion-view>
