<ion-view>

  <!-- Header -->
  <div class="bar bar-header" style="background-color: #008aeb">
    <button class="button button-icon icon ion-ios-arrow-back" style="color:azure" ng-click="kembali()"></button>
    <div class="h1 title" style="color:azure">PEMBUATAN PASPOR BARU</div>
  </div>
  <!-- End Header -->

  <ion-content scroll="true">
    <div class="list card" style="margin-top:55px !important">

      <!-- HEADER CONTENT -->
      <div class="item item-divider" style="text-align:center;font-size:17px;">
        Panduan
        <br> Pembuatan Paspor Baru
      </div>
      <!-- END HEADER CONTENT -->

      <!-- Content -->
      <ul class="list item-text-wrap">

        <li class="item" style="text-align:justify;font-size:16px;">
          <div class=row>
            <div class="col col-10">1.</div>
            <div class="col col-90">Pilih antrian paspor pada menu utama aplikasi;</div>
          </div>
        </li>

        <li class="item" style="text-align:justify;font-size:16px;">
          <div class=row>
            <div class="col col-10">2.</div>
            <div class="col col-90">Pilih kantor imigrasi sesuai dengan ketersediaan kuota yang terdapat di kantor imigrasi;</div>
          </div>
        </li>

        <li class="item" style="text-align:justify;font-size:16px;">
          <div class=row>
            <div class="col col-10">3.</div>
            <div class="col col-90">Pilih jumlah pemohon yang akan membuat paspor baru (1 kali pembuatan permohonan hanya untuk 5 orang dalam satu kartu keluarga)</div>
          </div>
        </li>

        <li class="item" style="text-align:justify;font-size:16px;">
          <div class=row>
            <div class="col col-10">4.</div>
            <div class="col col-90">Pilih tanggal tersedia / tanggal dengan tanda "Hijau"</div>
          </div>
        </li>

        <li class="item" style="text-align:justify;font-size:16px;">
          <div class=row>
            <div class="col col-10">5.</div>
            <div class="col col-90">Pilih waktu kedatangan pagi(08.00 s.d 12.00) - siang(13.00 s.d 15.00) jika sudah maka akan mendapatkan informasi tentang quota yang tersedia;</div>
          </div>
        </li>

        <li class="item" style="text-align:justify;font-size:16px;">
          <div class=row>
            <div class="col col-10">6.</div>
            <div class="col col-90">Tekan tombol LANJUT untuk melanjutkan proses;</div>
          </div>
        </li>

        <li class="item" style="text-align:justify;font-size:16px;">
          <div class=row>
            <div class="col col-10">7.</div>
            <div class="col col-90">Pilih jenis permohonan yang diajukkan dan isi form data permohonan dengan benar, permohonan hanya dapat dilakukan maksimal sebanyak 5 kali saja dalam 1 kali proses;</div>
          </div>
        </li>

        <li class="item" style="text-align:justify;font-size:16px;">
          <div class=row>
            <div class="col col-10">8.</div>
            <div class="col col-90">Tekan tombol SIMPAN untuk meneruskan proses maka anda akan mendapatkan jadwal yang telah ditentukan oleh sistem.</div>
          </div>
        </li>

      </ul>
      <!-- End Content -->

      <!-- FOOTER -->
      <div class="item item-divider" style="text-align:center">
        <a href="https://www.youtube.com/watch?v=wxoBIMKOHcA">Klik Disini</a> Untuk Melihat Video
      </div>
      <!-- END FOOTER -->

    </div>
  </ion-content>
</ion-view>
