<ion-view>
    
    <!-- Header -->
    <div class="bar bar-header" style="background-color: #008aeb">
        <button class="button button-icon icon ion-ios-arrow-back" style="color:azure" ng-click="kembali()"></button>
        <div class="h1 title" style="color:azure">MASA BERLAKU & BIAYA</div>
    </div>
    <!-- End Header -->

    <ion-content scroll="true">
        
        <div class="list card" style="margin-top:55px !important">       

            <!-- Content -->
            <ul class="list item-text-wrap">
                <div class="item item-divider" style="font-weight:bold;">
                I.  Masa Berlaku
                </div>
                <li class="item" style="text-align:justify;font-size:16px;">
                    <div class="row">
                        <div class="col col-10">1.</div>
                        <div class="col col-90">Masa berlaku Paspor biasa paling lama5 (lima) tahun sejak tanggal diterbitkan;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">2.</div>
                        <div class="col col-90">Masa berlaku Paspor biasa yang diterbitkan bagi anak berkewarganegaraan ganda tidak boleh melebihi batas usia anak tersebut untuk menyatakan memilih kewarganegaraannnya;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">3.</div>
                        <div class="col col-90">Batas usia anak sebagaimana dimaksud pada point 2 ditentukan sesuai dengan peraturan perundang-undangan.
                        </div>
                    </div>
                </li>
                <div class="item item-divider" style="font-weight:bold;">
                II.  Biaya
                </div>
                <li class="item" style="text-align:justify;font-size:16px;">
                    <div class="row">
                        <div class="col col-10">1.</div>
                        <div class="col col-90">Paspor biasa 48 halaman Rp.300.000,-
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">2.</div>
                        <div class="col col-90">Paspor biasa elektronis (e-passport) 48 halaman Rp.600.000,-
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">3.</div>
                        <div class="col col-90">Paspor biasa 24 halaman Rp.100.000,-
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">4.</div>
                        <div class="col col-90">Paspor biasa elektronis (e-passport) 24 halaman Rp.350.000,- (*saat ini belum tersedia)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">5.</div>
                        <div class="col col-90">Paspor biasa 24 halaman pengganti yang hilang yang masih berlaku Rp.200.000,-
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">6.</div>
                        <div class="col col-90">Paspor biasa 24 halaman pengganti yang rusak yang masih berlaku Rp.100.000,-
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">7.</div>
                        <div class="col col-90">Paspor biasa elektronis (e-passport) 24 halaman pengganti yang hilang yang masih berlaku Rp.800.000,-
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">8.</div>
                        <div class="col col-90">Paspor biasa elektronis (e-passport) 24 halaman pengganti yang rusak yang masih berlaku Rp.350.000,-
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">9.</div>
                        <div class="col col-90">Paspor biasa 48 halaman pengganti yang hilang yang masih berlaku Rp. 600.000,-
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">10.</div>
                        <div class="col col-90">Paspor biasa 48 halaman pengganti yang rusak yang masih berlaku Rp. 300.000,-
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">11.</div>
                        <div class="col col-90">Paspor biasa elektronis (e-passport) 48 halaman pengganti yang hilang yang masih berlaku Rp. 1.200.000,-
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">12.</div>
                        <div class="col col-90">Paspor biasa 24 halaman pengganti yang hilang/rusak yang masih berlaku disebabkan karena bencana alam dan awak kapal yang kapalnya tenggelam Rp. 100.000,-
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">13.</div>
                        <div class="col col-90">Paspor biasa Elektronis (E-passport) 24 halaman pengganti yang hilang/rusak yang masih berlaku disebabkan karena bencana alam dan awak kapal yang kapalnya tenggelam Rp. 350.000,-
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">14.</div>
                        <div class="col col-90">Paspor biasa 48 halaman pengganti yang hilang/rusak yang masih berlaku disebabkan karena bencana alam dan awak kapal yang kapalnya tenggelam Rp. 300.000,-
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">15.</div>
                        <div class="col col-90">Paspor biasa Elektronis (E-passport) 48 halaman pengganti yang hilang/rusak yang masih berlaku disebabkan karena bencana alam dan awak kapal yang kapalnya tenggelam Rp. 600.000,-
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">16.</div>
                        <div class="col col-90">Jasa Penggunaan Teknologi Sistem Penerbitan Paspor berbasis Biometrik Rp. 55.000,-
                        </div>
                    </div>
                </li>
            </ul>
            <!-- Content -->                
        </div>
    </ion-content>
</ion-view>