<ion-view>
    
    <!-- Header -->
    <div class="bar bar-header" style="background-color: #008aeb">
        <button class="button button-icon icon ion-ios-arrow-back" style="color:azure" ng-click="kembali()"></button>
        <div class="h1 title" style="color:azure">PERUBAHAN & PENARIKAN</div>
    </div>
    <!-- End Header -->

    <ion-content scroll="true">
        
        <div class="list card" style="margin-top:55px !important">       

            <!-- Content -->
            <ul class="list item-text-wrap">
                <div class="item item-divider" style="font-weight:bold;">
                I.  Perubahan Data
                </div>
                <li class="item" style="text-align:justify;font-size:16px;">
                    <div class="row">
                        <div class="col col-10">1.</div>
                        <div class="col col-90">Dalam hal terjadi perubahan data pemegang paspor biasa yang meliputi perubahan nama  atau perubahan alamat pemohon dapat mengajukan permohonan perubahan data paspor biasa kepada kepala kantor Imigrasi atau Pejabat Imigrasi;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">2.</div>
                        <div class="col col-90">Prosedur perubahan data paspor biasa, dilaksanakan melalui tahapan :
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10" style="margin-left: 35px">a.</div>
                        <div class="col col-85">Pengajuan permohonan</div>
                    </div>
                    <div class="row">
                        <div class="col col-10" style="margin-left: 35px">b.</div>
                        <div class="col col-85">Persetujuan kepala Kantor imigrasi atau Pejabat imigrasi dan</div>
                    </div>
                    <div class="row">
                        <div class="col col-10" style="margin-left: 35px">c.</div>
                        <div class="col col-85">Pencetakan perubahan data pada halaman pengesahan</div>
                    </div>
                </li>
                <div class="item item-divider" style="font-weight:bold;">
                II.  Penarikan Paspor Biasa
                </div>
                <li class="item" style="text-align:justify;font-size:16px;">
                    <div class="row">
                        <div class="col col-10">1.</div>
                        <div class="col col-90">Penarikan paspor biasa dapat dilakukan kepada pemegangnya pada saat berada di dalam atau berada di luar wilayah Indonesia;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">2.</div>
                        <div class="col col-90">Penarikan paspor biasa sebagaimana dimaksud pada poin 1 dilakukan dalam hal:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10" style="margin-left: 35px">a.</div>
                        <div class="col col-85">Pemegangnya telah dinyatakan sebagai tersangka oleh instansi berwenang atas perbuatan atas perbuatan pidana yang diancam hukuman paling singkat 5 (lima) tahun atau red notice yang telah berada diluar wilayah Indonesia; atau</div>
                    </div>
                    <div class="row">
                        <div class="col col-10" style="margin-left: 35px">b.</div>
                        <div class="col col-85">Masuk dalam daftar pencegahan;</div>
                    </div>
                    <div class="row">
                        <div class="col col-10">3.</div>
                        <div class="col col-90">Penarikan paspor biasa di wilayah Indonesia dilakukan oleh Kepala kantor Imigrasi atau pejabat Imigrasi yang ditunjuk;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">4.</div>
                        <div class="col col-90">Penarikan paspor biasa di luar wilayah Indonesia dilakukan oleh pejabat imigrasi yang  ditunjuk pada perwakilan Republik Indonesia;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">5.</div>
                        <div class="col col-90">Dalam hal Perwakilan Republik Indonesia belum ada pejabat Imigrasi sebagaimana dimaksud pada poin 3, penarikan paspor biasa dilakukan oleh Pejabat Dinas Luar Negeri;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">6.</div>
                        <div class="col col-90">Dalam hal penarikan paspor biasa dilakukan pada saat pemegangnya berada di luar wilayah Indonesia sebagaimana dimaksud dalam poin 4, kepada yang bersangkutan diberikan Surat Perjalanan Laksana Papor sebagai dokumen pengganti yang akan digunakan untuk proses pemulangan;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">7.</div>
                        <div class="col col-90">Penarikan paspor biasa sebagaimana dimaksud dalam poin 3 dilakukan dengan penyampaian surat pemberitahuan penarikan Papor Biasa kepada pemegangnya;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">8.</div>
                        <div class="col col-90">Pemegang paspor biasa yang mendapatkan surat pemberitahuan sebagaimana dimaksud pada poin 7 wajib menyerahkan paspor biasa kepada pejabat Imigrasi yang ditunjuk dalam waktu paling lama 3 (tiga) hari;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">9.</div>
                        <div class="col col-90">Dalam hal pemegang Paspor biasa tidak menyerahkan dalam waktu sebagaimana dimaksud pada poin 8, Pejabat Imigrasi yang ditunjuk harus menarik langsung Paspor biasa dari pemegangnya.;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">10.</div>
                        <div class="col col-90">Paspor biasa dapat diberikan kembali kepada pemegangnya oleh Pejabat Imigrasi yang ditunjuk, dalam hal:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10" style="margin-left: 35px">a.</div>
                        <div class="col col-85">Tidak terbukti melakukan perbuatan pidana berdasarkan keputusan pengadilan yang berkekuatan hukum tetap;</div>
                    </div>
                    <div class="row">
                        <div class="col col-10" style="margin-left: 35px">b.</div>
                        <div class="col col-85">Red notice dicabut oleh interpol; atau</div>
                    </div>
                    <div class="row">
                        <div class="col col-10" style="margin-left: 35px">c.</div>
                        <div class="col col-85">Namanya dicabut dari daftar pencegahan.</div>
                    </div>
                </li>
            </ul>
            <!-- Content -->                
        </div>
    </ion-content>
</ion-view>