<ion-view>

  <!-- Header -->
  <div class="bar bar-header" style="background-color: #008aeb">
    <button class="button button-icon icon ion-ios-arrow-back" style="color:azure" ng-click="kembali()"></button>
    <div class="h1 title" style="color:azure">PROSEDUR</div>
  </div>
  <!-- End Header -->

  <ion-content scroll="true">

    <div class="list card" style="margin-top:55px !important">
      <!-- Content -->
      <ul class="list item-text-wrap">
        <div class="item item-divider" style="font-weight:bold;">
          I. Manual/Walk-in/Datang Langsung
        </div>
        <li class="item" style="text-align:justify;font-size:16px;">
          <div class="row">
            <div class="col col-10">1.</div>
            <div class="col col-90">Bagi pemohon paspor biasa yang diajukan secara manual, pemohon harus mengisi aplikasi data yang disediakan pada
              loket permohonan dan melampirkan kelengkapan persyaratan;
            </div>
          </div>
          <div class="row">
            <div class="col col-10">2.</div>
            <div class="col col-90">Pejabat Imigrasi yang ditunjuk memeriksa dokumen kelengkapan persyaratan sebagaimana dimaksud pada poin 1;
            </div>
          </div>
          <div class="row">
            <div class="col col-10">3.</div>
            <div class="col col-90">Dokumen kelengkapan persyaratan yang telah dinyatakan lengkap, Pejabat Imigrasi yang ditunjuk memberikan tanda
              terima permohonan dan kode pembayaran;
            </div>
          </div>
          <div class="row">
            <div class="col col-10">4.</div>
            <div class="col col-90">Dalam hal dokumen kelengkapan persyaratan dinyatakan belum lengkap, Pejabat Imigrasi yang ditunjuk mengembalikan
              dokumen permohonan dan permohonan dianggap ditarik kembali.
            </div>
          </div>
        </li>
        <div class="item item-divider" style="font-weight:bold;">
          II. Elektronik
        </div>
        <li class="item" style="text-align:justify;font-size:16px;">
          <div class="row">
            <div class="col col-10">1.</div>
            <div class="col col-90">Bagi permohonan paspor biasa yang diajukan secara elektronik, pemohon harus mengisi aplikasi data yang tersedia
              pada laman resmi Direktorat Jenderal Imigrasi;
            </div>
          </div>
          <div class="row">
            <div class="col col-10">2.</div>
            <div class="col col-90">Dokumen kelengkapan persyaratan harus disertakan dengan cara memindai dokumen kelengkapan persyaratan dan dikirimkan
              melalui surat elektronik;
            </div>
          </div>
          <div class="row">
            <div class="col col-10">3.</div>
            <div class="col col-90">Pemohon yang telah mengisi aplikasi data sebagaimana dimaksud pada poin 1 memperoleh tanda terima permohonan
              dan harus dicetak sebagai tanda bukti permohonan;
            </div>
          </div>
          <div class="row">
            <div class="col col-10">4.</div>
            <div class="col col-90">Permohonan sebagaimana dimaksud pada poin 3 yang telah diperiksa dan memenuhi persyaratan diberikan kode pembayaran
              melalui pesan singkat dan surat elektronik.
            </div>
          </div>
        </li>
        <div class="item item-divider" style="font-weight:bold;">
          III. Penerbitan Paspor
        </div>
        <li class="item" style="text-align:justify;font-size:16px;">
          <div class="row">
            <div class="col col-10">1.</div>
            <div class="col col-90">Penerbitan paspor biasa dilakukan melalui mekanisme yang terdiri atas:
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">a.</div>
            <div class="col col-85">Pemeriksaan kelengkapan dan keabsahan persyaratan;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">b.</div>
            <div class="col col-85">Pembayaran biaya paspor;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">c.</div>
            <div class="col col-85">Pengambilan foto dan sidik jari;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">d.</div>
            <div class="col col-85">Wawancara;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">e.</div>
            <div class="col col-85">Verifikasi; dan
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">f.</div>
            <div class="col col-85">Adjudikasi.
            </div>
          </div>
          <div class="row">
            <div class="col col-10">2.</div>
            <div class="col col-90">Langkah-langkah penerbitan paspor biasa adalah :
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">a.</div>
            <div class="col col-85">Pejabat Imigrasi melakukan pemeriksaan permohonan dan dokumen kelengkapan persyaratan;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">b.</div>
            <div class="col col-85">Hasil pemeriksaan sebagaimana dimaksud pada huruf a yang telah memenuhi persyaratan dimuat dalam Sistem Informasi
              Manajemen Keimigrasian oleh Pejabat Imigrasi;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">c.</div>
            <div class="col col-85">Dalam hal terdapat kesamaan biodata permohonan dengan biodata daftar pencegaan yang termuat dalam Sistem Manajemen
              Informasi Keimigrasian, Pejabat Imigrasi yang ditunjuk wajib menolak permohonan dan ditindaklanjuti sesuai
              dengan ketentuan peraturan perundang-undangan;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">d.</div>
            <div class="col col-85">Penolakan permohonan sebagaimana dimaksud pada huruf c disertai dengan surat penolakan dan rincian data pencegahan
              yang dicetak dari Sistem Informasi Manajemen Keimigrasian;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">e.</div>
            <div class="col col-85">Dalam hal persyaratan belum lengkap, Pejabat Imigrasi yang ditunjuk mengembalikan dokumen persyaratan permohonan
              kepada pemohon dalam waktu paling lama 1 (satu) hari terhitung sejak tanggal permohonan diterima;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">f.</div>
            <div class="col col-85">Pengembalian dokumen persyaratan permohonan sebagaimana dimaksud pada huruf e disertai dengan catatan atau penjelasan
              mengenai persyaratan yang belum dipenuhi;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">g.</div>
            <div class="col col-85">Dalam hal persyaratan telah lengkap dan nama permohonan tidak tercantum dalam daftar pencegahan, Pejabat Imigrasi
              yang ditunjuk melakukan pengambilan foto dan sidik jari;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">h.</div>
            <div class="col col-85">Pejabat Imigrasi wajib melakukan wawancara dengan mencocokkan antara keterangan yang disampaikan oleh pemohon
              dan dokumen persyaratan asli pemohon;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">i.</div>
            <div class="col col-85">Pejabat Imigrasi memberikan tanda bukti penerimaan permohonan kepada pemohon;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">j.</div>
            <div class="col col-85">Pemohon melakukan pembayaran biaya paspor biasa pada bank persepsi/Kantor Pos atau melalui fasilitas pembayaran
              perbankan;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">k.</div>
            <div class="col col-85">Dalam hal pejabat imigrasi yang ditunjuk menemukan kecurigaan terhadap persyaratan permohonan, keterangan pemohon,
              dan atau keabsahan dokumen asli persyaratan, permohonan dapat ditangguhkan untuk dilakukan penelitian atau
              pemeriksaan lebih lanjut;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">l.</div>
            <div class="col col-85">Hasil penelitian atau pemeriksaan sebagaimana dimaksud pada huruf l dimuat dalam berita acara pemeriksaan;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">m.</div>
            <div class="col col-85">Dalam hal pemohon terbukti memberikan keterangan tidak benar terhadap persyaratan pemohonan, keterangan pemohon
              dan/atau keabsahan dokumen asli persyaratan yang dimilikinya, permohonan dibatalkan;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">n.</div>
            <div class="col col-85">Dalam hal permohonan dibatalkan sebagaimana dimaksud pada huruf m telah dialokasikan blangko Paspor biasa, Pejabat
              Imigrasi yang ditunjuk wajib membatalkan blangko paspor biasa tersebut dan dicatat dalam Sistem Informasi Manajemen
              Keimigrasian;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">o.</div>
            <div class="col col-85">Dalam hal pemohon tidak melanjutkan mekanisme dalam jangka waktu paling lama 30 (tiga puluh) hari, permohonan
              pengajuan paspor biasa dibatalkan;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">p.</div>
            <div class="col col-85">Dalam hal permohonan dibatalkan dimaksud huruf o telah dialokasikan blangko Paspor biasa, Pejabat Imigrasi yang
              ditunjuk wajib membatalkan blangko paspor biasa tersebut dan dicatat dalam Sistem Informasi Manajemen Keimigrasian;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">q.</div>
            <div class="col col-85">Pejabat Imigrasi yang ditunjuk melakukan proses verifikasi dan adjudifikasi terhadap penerbitan paspor biasa;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">r.</div>
            <div class="col col-85">Verifikasi dan adjudikasi sebagaimana dimaksud pada huruf q dilakukan dengan mencocokan data biometrik pemohon
              dan biasa data yang tersimpan dalam sistem Informasi manajemen Keimigrasian;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">s.</div>
            <div class="col col-85">Dalam hal pada tahapan verifikasi dan adjudikasi tidak ditemukan duplikasi data pemohon, proses penerbitan paspor
              biasa dilanjutkan pada tahapan pencetakan dan uji kualitas;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">t.</div>
            <div class="col col-85">Mekanisme pembayaran dan besarnya biaya penerbitan paspor biasa sebagaimana dimaksud dalam huruf j sesuai dengan
              ketentuan peraturan perundang-undangan;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">u.</div>
            <div class="col col-85">Seluruh biaya yang berkaitan dengan permohonan paspor biasa yang telah disetorkan pada Kas Negara oleh pemohon
              tidak dapat ditarik kembali;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">v.</div>
            <div class="col col-85">Menteri atau Pejabat Imigrasi yang ditunjuk menerbitkan paspor biasa dalam waktu paling lama 4 (empat) hari
              kerja sejak dilakukan wawancara;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">w.</div>
            <div class="col col-85">Batas waktu penerbitan paspor biasa sebagaimana dimaksud pada huruf v berlaku juga terhadap paspor biasa yang
              diterbitkan oleh pejabat Dinas Luar Negeri;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">q.</div>
            <div class="col col-85">Waktu penyelesaian penerbitan paspor biasa sebagaimana disebutkan pada huruf w danvhuruf v dikecualikan, bagi
              penerbitan paspor biasa untuk alasan penggantian paspor rusak, penggantian paspor hilang, atau penggantian
              paspor duplikasi;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">y.</div>
            <div class="col col-85">Paspor biasa yang telah selesai dapat diambil oleh :
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 70px">1.</div>
            <div class="col col-85">Pemohon dengan menunjukkan tanda bukti pembayaran dan bukti identitas yang sah;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 70px">2.</div>
            <div class="col col-85">Orang lain yang memiliki hubungan hukum kekeluargaan denga pemohon dengan menunjukkan tanda bukti pembayaran,
              fotokopi kartu keluarga, dan kartu identitas pengambil yang sah; atau
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 70px">3.</div>
            <div class="col col-85">Orang lain yang tidak memiliki hubungan hukum kekeluargaan dengan pemohon dengan menunjukkan tanda bukti pembayaran,
              surat kuasa, dan identitas pengambil yang sah;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">z.</div>
            <div class="col col-85">Penyerahan paspor biasa sebagaimana dimaksud pada huruf y wajib dicatat dalam buku penyerahan paspor biasa dan
              ditanda tangani oleh pengambil.
            </div>
          </div>
        </li>
      </ul>
      <!-- Content -->
    </div>
  </ion-content>
</ion-view>
