<ion-view>
    
    <!-- Header -->
    <div class="bar bar-header" style="background-color: #008aeb">
        <button class="button button-icon icon ion-ios-arrow-back" style="color:azure" ng-click="kembali()"></button>
        <div class="h1 title" style="color:azure">UMUM</div>
    </div>
    <!-- End Header -->

    <ion-content scroll="true">
        
        <div class="list card" style="margin-top:55px !important">
                
            <!-- HEADER CONTENT -->
            <div class="item item-divider" style="text-align:center;font-size:17px;">
                Informasi Umum
            </div>
            <!-- END HEADER CONTENT -->           

            <!-- Content -->
            <ul class="list item-text-wrap">
                <li class="item" style="text-align:justify;font-size:16px;">
                    <div class=row>
                        <div class="col col-10">1.</div>
                        <div class="col col-90">Permohonan Paspor biasa dapat diajukan oleh Warga Negara Indonesia :<br>
                            a. Di wilayah Indonesia;
                            <br>
                            b. Di Luar Wilayah Indonesia.
                        </div>
                    </div>
                </li>
                <li class="item" style="text-align:justify;font-size:16px;">
                    <div class=row>
                        <div class="col col-10">2.</div>
                        <div class="col col-90">Paspor biasa sebagaimana dimaksud pada poin 1 terdiri atas:<br>
                            a. Paspor biasa elektronik;
                            <br>
                            b. Paspor biasa nonelektronik.
                        </div>
                    </div>
                </li>
                <li class="item" style="text-align:justify;font-size:16px;">
                    <div class=row>
                        <div class="col col-10">3.</div>
                        <div class="col col-90">Paspor biasa sebagaimana dimaksud pada poin 2 diterbitkan dengan menggunakan Sistem Informasi Manajemen Keimigrasian.
                        </div>
                    </div>
                </li>
                <li class="item" style="text-align:justify;font-size:16px;">
                    <div class=row>
                        <div class="col col-10">4.</div>
                        <div class="col col-90">Permohonan paspor biasa dapat diajukan secara:<br>
                            a. Manual; atau
                            <br>
                            b. Elektronik.
                            <br>
                            Dengan melampirkan dokumen kelengkapan persyaratan
                        </div>
                    </div>
                </li>
            </ul>
            <!-- Content -->                
        </div>
    </ion-content>
</ion-view>