<ion-view>

  <!-- Header -->
  <div class="bar bar-header" style="background-color: #008aeb">
    <button class="button button-icon icon ion-ios-arrow-back" style="color:azure" ng-click="kembali()"></button>
    <div class="h1 title" style="color:azure">PEMBATALAN</div>
  </div>
  <!-- End Header -->

  <ion-content scroll="true">

    <div class="list card" style="margin-top:55px !important">

      <!-- Content -->
      <ul class="list item-text-wrap">
        <li class="item" style="text-align:justify;font-size:16px;">
          <div class="row">
            <div class="col col-10">1.</div>
            <div class="col col-90">Pembatalan Paspor biasa dapat dilakukan dalam hal:
            </div>
          </div>
        </li>
        <li class="item" style="text-align:justify;font-size:16px;">
          <div class="row">
            <div class="col col-10">2.</div>
            <div class="col col-90">Dalam hal pembatalan karena alasan sebagaimana dimaksud dalam poin 1 huruf a dan huruf b, terhadap pemegang paspor
              biasa dilakukan pemeriksaan dan dibuatkan berikut acara pemeriksaan;</div>
          </div>
        </li>
        <li class="item" style="text-align:justify;font-size:16px;">
          <div class="row">
            <div class="col col-10">3.</div>
            <div class="col col-90">Berita acara pemeriksaan paspor biasa sebagaimana dimaksud pada poin 2 dilaksanakan oleh Pejabat Imigrasi yang
              ditunjuk dalam waktu paling lama 2 (dua) hari terhitung sejak tanggal diterimanya permintaan pengajuan pembatalan
              Paspor biasa;
            </div>
          </div>
        </li>
        <li class="item" style="text-align:justify;font-size:16px;">
          <div class="row">
            <div class="col col-10">4.</div>
            <div class="col col-90">Berita acara pemeriksaan paspor biasa disampaikan kepada Kepala Kantor Imigrasi setempat untuk diperiksa dalam
              rangka memberikan keputusan pembatalan paspor biasa;
            </div>
          </div>
        </li>
        <li class="item" style="text-align:justify;font-size:16px;">
          <div class="row">
            <div class="col col-10">5.</div>
            <div class="col col-90">Pemberian keputusan pembatalan paspor biasa sebagaimana dimaksud pada poin 4 dilaksanakan dalam waktu paling
              lama 1 (satu) hari terhitung sejak tanggal diterimanya berita acara pemeriksaan;
            </div>
          </div>
        </li>
        <li class="item" style="text-align:justify;font-size:16px;">
          <div class="row">
            <div class="col col-10">6.</div>
            <div class="col col-90">Dalam hal Kepala Kantor Imigrasi menyetujui pembatalan paspor biasa, Pejabat Imigrasi melakukan pengguntingan
              paspor biasa dan dimuat dalam berita acara pengguntingan;
            </div>
          </div>
        </li>
        <li class="item" style="text-align:justify;font-size:16px;">
          <div class="row">
            <div class="col col-10">7.</div>
            <div class="col col-90">Dalam hal pembatalan karena alasan sebagaimana dimaksud dalam poin 1 huruf c sampai dengan huruf e, ditindaklanjuti
              dengan pembatalan paspor biasa dan dimuat dalam berita acara pembatalan;
            </div>
          </div>
        </li>
        <li class="item" style="text-align:justify;font-size:16px;">
          <div class="row">
            <div class="col col-10">8.</div>
            <div class="col col-90">Bagi paspor biasa yang dibatalkan dengan alasan sebagaimana dimaksud dalam poin 1 huruf d, pemohon dapat diberikan
              paspor biasa melalui prosedur pengajuan permohonan penggantian Paspor biasa;
            </div>
          </div>
        </li>
        <li class="item" style="text-align:justify;font-size:16px;">
          <div class="row">
            <div class="col col-10">9.</div>
            <div class="col col-90">Bagi paspor biasa yang dibatalkan dengan alasan sebagaimana dimaksud dalam poin 1 huruf e, langsung diberikan
              paspor biasa tanpa melalui prosedur pengajuan permohonan;
            </div>
          </div>
        </li>
      </ul>
      <!-- Content -->
    </div>
  </ion-content>
</ion-view>
