<ion-view>

  <!-- Header -->
  <div class="bar bar-header" style="background-color: #008aeb">
    <button class="button button-icon icon ion-ios-arrow-back" style="color:azure" ng-click="kembali()"></button>
    <div class="h1 title" style="color:azure">PERSYARATAN</div>
  </div>
  <!-- End Header -->

  <ion-content scroll="true">

    <div class="list card" style="margin-top:55px !important">

      <!-- HEADER CONTENT -->
      <div class="item item-divider" style="text-align:center;font-size:17px;">
        Persyaratan Permohanan Paspor
        <br>Republik Indonesia
      </div>
      <!-- END HEADER CONTENT -->

      <!-- Content -->
      <ul class="list item-text-wrap">
        <div class="row">
          <div class="col col-100">
            Dasar : Peraturan Menteri Hukum dan HAM RI Nomor 8 Tahun 2014 tentang Paspor Biasa dan Surat Perjalanan Laksana Paspor
          </div>
        </div>
        <div class="item item-divider" style="font-weight:bold;">
          I. WNI Berdomisili di Indonesia
        </div>
        <li class="item" style="text-align:justify;font-size:16px;">
          <div class="row">
            <div class="col col-10">1.</div>
            <div class="col col-90">Bagi warga negara Indonesia yang berdomisili atau berada di wilayah Indonesia, permohonan Paspor biasa diajukan
              kepada Menteri atau Pejabat Imigrasi yang ditunjuk pada kantor Imigrasi setempat dengan mengisi aplikasi data
              dan melampirkan dokumen kelengkapan persyaratan yang terdiri atas :
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">a.</div>
            <div class="col col-85">kartu tanda penduduk yang masih berlaku atau surat keterangan pindah keluar negeri;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">b.</div>
            <div class="col col-85">kartu keluarga;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">c.</div>
            <div class="col col-85">akta kelahiran/akta perkawinan atau buku nikah/ijazah/surat baptis;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">d.</div>
            <div class="col col-85">surat pewarganegaraan Indonesia bagi Orang asing yang memperoleh kewarganegaraan Indonesia melalui pewarganegaraan
              atau penyampaian pernyataan untuk memilih kewarganegaraan sesuai dengan ketentuan peraturan perundang-undangan;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">e.</div>
            <div class="col col-85">surat penetapan ganti nama dari pejabat yang berwenang bagi yang telah mengganti nama; dan
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">f.</div>
            <div class="col col-85">Paspor biasa lama bagi yang telah memiliki paspor biasa.
            </div>
          </div>
          <div class="row">
            <div class="col col-10">2.</div>
            <div class="col col-90">Dokumen kelengkapan persyaratan sebagaimana dimaksud pada poin 1 huruf c harus dokumen yang memuat :
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">a.</div>
            <div class="col col-85">nama;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">b.</div>
            <div class="col col-85">tanggal lahir;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">c.</div>
            <div class="col col-85">tempat lahir; dan
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">d.</div>
            <div class="col col-85">nama orang tua
            </div>
          </div>
          <div class="row">
            <div class="col col-10">3.</div>
            <div class="col col-90">Dalam hal dokumen sebagaimana dimaksud pada poin 1 huruf c tidak memuat data sebagaimana dimaksud pada poin 2,
              permohonan dapat melampirkan surat keterangan dari instansi yang berwenang.
            </div>
          </div>
        </li>
        <div class="item item-divider" style="font-weight:bold;">
          II. Anak WNI Berdomisili di Indonesia
        </div>
        <li class="item" style="text-align:justify;font-size:16px;">
          <div class="row">
            <div class="col col-10">1.</div>
            <div class="col col-90">Bagi anak warga negara Indonesia yang berdomisili atau berada di wilayah Indonesia, permohonan Paspor biasa diajukan
              kepada Menteri atau Pejabat Imigrasi yang ditunjuk pada Kantor Imigrasi setempat dengan mengisi aplikasi data
              dan melampirkan persyaratan:
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">a.</div>
            <div class="col col-85">Kartu tanda penduduk ayah atau ibu yang masih berlaku atau surat keterangan pindah ke luar negeri;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">b.</div>
            <div class="col col-85">Kartu keluarga;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">c.</div>
            <div class="col col-85">Akta kelahiran atau surat baptis
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">d.</div>
            <div class="col col-85">Akta perkawinan atau buku nikah orangtua;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">e.</div>
            <div class="col col-85">Surat penetapan ganti nama dari pejabat yang berwenang bagi yang telah mengganti nama; dan
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">f.</div>
            <div class="col col-85">Paspor biasa lama bagi yang telah memiliki paspor biasa
            </div>
          </div>
        </li>
        <div class="item item-divider" style="font-weight:bold;">
          III. Calon TKI Domisili Indonesia
        </div>
        <li class="item" style="text-align:justify;font-size:16px;">
          <div class="row">
            <div class="col col-10">1.</div>
            <div class="col col-90">Bagi calon tenaga kerja Indonesia yang berdomisili atau berada di wilayah Indonesia, permohonan paspor biasa
              diajukan kepada Menteri atau Pejabat Imigrasi yang ditujukan pada kantor Imigrasi yang masih berada dalam Provinsi
              yang sama dengan domisili yang bersangkutan.
            </div>
          </div>
          <div class="row">
            <div class="col col-10">2.</div>
            <div class="col col-90">Permohonan sebagaimana dimaksud pada poin 1 dilakukan dengan mengisi aplikasi data dan melampirkan persyaratan:
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">a.</div>
            <div class="col col-85">Kartu tanda penduduk yang masih berlaku atau surat keterangan pindah ke luar negeri;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">b.</div>
            <div class="col col-85">Kartu keluarga;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">c.</div>
            <div class="col col-85">Akta kelahiran, akta perkawinan atau buku nikah, ijazah, atau surat baptis;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">d.</div>
            <div class="col col-85">Surat pewarganegaraan Indonesia bagi Orang Asing yang memperoleh kewarganegaraan Indonesia melalui pewarganegaraan
              atau penyampaian pernyataan untuk memilih kewarganegaraan sesuai dengan ketentuan peraturan perundang-undangan;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">e.</div>
            <div class="col col-85">Surat penetapan ganti nama pejabat yang berwenang bagi yang telah mengganti nama;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">f.</div>
            <div class="col col-85">Surat rekomendasi permohonan paspor Calon Tenaga Kerja Indonesia yang diterbitkan oleh Dinas Tenaga Kerja Provinsi
              atau kabupaten/kota; dan
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">g.</div>
            <div class="col col-85">Paspor biasa lama, bagi yang telah memiliki Paspor biasa.
            </div>
          </div>
          <div class="row">
            <div class="col col-10">3.</div>
            <div class="col col-90">Dokumen kelengkapan persyaratan sebagaimana dimaksud pada poin 2 huruf c harus dokumen yang memuat:
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">a.</div>
            <div class="col col-85">Nama;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">b.</div>
            <div class="col col-85">Tanggal lahir;
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">c.</div>
            <div class="col col-85">Tempat lahir; dan
            </div>
          </div>
          <div class="row">
            <div class="col col-10" style="margin-left: 35px">d.</div>
            <div class="col col-85">Nama orang tua.
            </div>
          </div>
          <div class="row">
            <div class="col col-10">4.</div>
            <div class="col col-90">Dalam hal dokumen sebagaimana dimaksud pada poin 2 huruf c tidak memuat data sebagaimana dimaksud pada poin 3,
              Pemohon dapat melampirkan surat keterangan dari instansi yang berwenang.
            </div>
          </div>
        </li>
        <div class="item item-divider" style="font-weight:bold;">
          IV. WNI Domisili Luar Indonesia
        </div>
        <div class="row">
          <div class="col col-100">
            Bagi warga negara Indonesia yang berdomisili di luar wilayah Indonesia, permohonan Paspor biasa diajukan kepada Menteri atau
            Pejabat Imigrasi yang ditunjuk pada Perwakilan Republik Indonesia dengan mengisi aplikasi data dan melampirkan
            persyaratan:
          </div>
        </div>
        <li class="item" style="text-align:justify;font-size:16px;">
          <div class="row">
            <div class="col col-10">1.</div>
            <div class="col col-90">Kartu penduduk negara setempat, bukti, petunjuk, atau keterangan yang menunjukkan bahwa pemohon bertempat tinggal
              di negara tersebut; dan
            </div>
          </div>
          <div class="row">
            <div class="col col-10">2.</div>
            <div class="col col-90">Paspor biasa lama.
            </div>
          </div>
        </li>
        <div class="item item-divider" style="font-weight:bold;">
          V. Anak Berkewarganegaraan Indonesia yang Lahir di Luar Indonesia
        </div>
        <div class="row">
          <div class="col col-100">
            Bagi anak berkewarganegaraan Indonesia yang lahir di luar wilayah Indonesia, permohonan Paspor biasa di luar Wilayah Indonesia
            diajukan kepada Menteri atau Pejabat Imigrasi pada Perwakilan Republik Indonesia dengan melampirkan persyaratan:
          </div>
        </div>
        <li class="item" style="text-align:justify;font-size:16px;">
          <div class="row">
            <div class="col col-10">1.</div>
            <div class="col col-90">Paspor biasa ayah dan/atau ibu warga negara Indonesia; dan
            </div>
          </div>
          <div class="row">
            <div class="col col-10">2.</div>
            <div class="col col-90">Surat keterangan lahir dari Perwakilan Republik Indonesia.
            </div>
          </div>
        </li>
      </ul>
      <!-- Content -->

    </div>

  </ion-content>
</ion-view>
